[submodule "DesktopClient/src/submodules/imgui"]
	path = Wasm-client/src/submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "DesktopClient/src/submodules/glfw"]
	path = Wasm-client/src/submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DesktopClient/src/submodules/cpp-httplib"]
	path = Wasm-client/src/submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "DesktopClient/src/submodules/stb"]
	path = Wasm-client/src/submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "ESP8266_Server/lib/ArduinoQueue"]
	path = ESP8266_Server/lib/ArduinoQueue
	url = https://github.com/EinarArnason/ArduinoQueue.git
[submodule "ESP8266_Server/lib/NTPClient"]
	path = ESP8266_Server/lib/NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
[submodule "ESP8266_Server/lib/nanopb"]
	path = ESP8266_Server/lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "Wasm-client/src/submodules/protobuf"]
	path = Wasm-client/src/submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
